{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <form method="POST" action="{% url 'create_listing' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <div class="form-group">
        <label for="images">{% trans "Upload Images" %}</label>
        <input type="file" name="images" id="images" multiple class="form-control">
    </div>
    <input type="submit" class="submit-btn" value="{% trans 'Create Listing' %}" formmethod="POST">
    </form>

{% endblock %}