{% block search %}

<form method="get" action="{% url 'all_art' %}" class="control-wrapper">
    <div class="control-wrapper">

        <div class="control-panel">
            <input type="search" class="search-bar" name="search_filter" placeholder="Search...">

            <div class="filter-wrapper">
                <button type="button" class="filter-btn">Filters</button>
                <div class="filter-panel">
                    <h4>Sort by</h4>
                    <select name="sort">
                        <option value="">-- Select --</option>
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                    <h4>Style</h4>
                    <select name="style">
                        <option value="">-- Select --</option>
                        <option value="Modern">Modern</option>
                        <option value="Abstract">Abstract</option>
                        <option value="Realism">Realism</option>
                        <option value="Impressionism">Impressionism</option>
                    </select>

                    <h4>Medium</h4>
                    <select name="medium">
                        <option value="">-- Select --</option>
                        <option value="Oil">Oil painting</option>
                        <option value="Acrylic">Acrylic</option>
                        <option value="Digital">Digital</option>
                        <option value="Sculpture">Sculpture</option>
                        <option value="Photography">Photography</option>
                        <option value="Watercolour">Watercolour</option>
                    </select>

                    <h4>Price</h4>
                    <input type="range" name="max_price" min="{{ min_price }}" max="{{ max_price }}" value="{{ max_price }}" oninput="priceOutput.value = this.value">
                    <output id="priceOutput">{{ max_price }}</output>

                    <button type="submit" id ='submit-button'>Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}