{% load i18n %}

{% block search %}

<form method="get" action="{% url 'all_art' %}" class="control-wrapper">
    <div class="control-wrapper">

        <div class="control-panel">
            <input type="search" class="search-bar" name="search_filter" placeholder="{% trans 'Search...' %}">

            <div class="filter-wrapper">
                <button type="button" class="filter-btn">{% trans "Filters" %}</button>
                <div class="filter-panel">
                    <h4>{% trans "Sort by" %}</h4>
                    <select name="sort">
                        <option value="">{% trans "-- Select --" %}</option>
                        <option value="newest">{% trans "Newest" %}</option>
                        <option value="oldest">{% trans "Oldest" %}</option>
                    </select>
                    <h4>{% trans "Style" %}</h4>
                    <select name="style">
                        <option value="">{% trans "-- Select --" %}</option>
                        <option value="Modern">{% trans "Modern" %}</option>
                        <option value="Abstract">{% trans "Abstract" %}</option>
                        <option value="Realism">{% trans "Realism" %}</option>
                        <option value="Impressionism">{% trans "Impressionism" %}</option>
                    </select>

                    <h4>{% trans "Medium" %}</h4>
                    <select name="medium">
                        <option value="">{% trans "-- Select --" %}</option>
                        <option value="Oil">{% trans "Oil painting" %}</option>
                        <option value="Acrylic">{% trans "Acrylic" %}</option>
                        <option value="Digital">{% trans "Digital" %}</option>
                        <option value="Sculpture">{% trans "Sculpture" %}</option>
                        <option value="Photography">{% trans "Photography" %}</option>
                        <option value="Watercolour">{% trans "Watercolour" %}</option>
                    </select>

                    <h4>{% trans "Price" %}</h4>
                    <input type="range" name="max_price" min="{{ min_price }}" max="{{ max_price }}" value="{{ max_price }}" oninput="priceOutput.value = this.value">
                    <output id="priceOutput">{{ max_price }}</output>

                    <button type="submit" id="submit-button">{% trans "Submit" %}</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}