{% extends 'base.html' %}
{% block content %}

<div class="main-content">

{% include 'search_filter.html' %}


    <div class="image-grid">

        {% for item in listings %}
            <a href="{% url 'artwork' item.id %}">
                <div class="card">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.artist_name }}</p>
                    <p>${{ item.current_bid }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

</div>

{% endblock %}