{% extends 'base.html' %}
{% block content %}

<div class="main-content">

{% include 'search_filter.html' %}


    <div class="image-grid">

        {% for listing in listings %}
            <a href="{% url 'artwork' listing.id %}" class="card-link">
                <div class="card">
                    <div class="card-image-wrapper">
                        {% if listing.thumbnail_image %}
                        <img class="cars-image" src="{{listing.thumbnail_image.url}}" alt="Thumbnail for {{ listing.title }}">
                        {% else %}
                        <img src="img.jpg" alt="Thumbnail for {{ listing.title }} unavailable">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">{{ listing.title }}</h3>
                        <p>{{ listing.artist_name }}</p>
                        <p>${{ listing.current_bid }}</p>
                    </div>
                </div>
            </a>
        {% empty %}
            <p>No listings found.</p>
        {% endfor %}
    </div>

</div>

{% endblock %}