{% extends 'users/../base.html' %}

{% block content %}

<div class="profile-container">

    <h2 class="section-title">Edit Profile</h2>

    <div class="edit-profile-box">


        <div class="edit-preview">
            {% if user.profile.image %}
                <img src="{{ user.user_profile_image.url }}" class="profile-big">
            {% endif %}
            <h3>{{ user_obj.username }}</h3>
        </div>

        <form method="POST" enctype="multipart/form-data" class="edit-form">
            {% csrf_token %}

            <label>Profile Picture</label>
            <input type="file" name="image">

            <label>Bio</label>
            <textarea name="bio" rows="4">{{ user.profile.bio|default:'' }}</textarea>


            <div class="edit-actions">
                <button type="submit" class="btn-primary">Save Changes</button>
                <a href="{% url 'profile' %}" class="btn-secondary">Cancel</a>
            </div>

        </form>

    </div>

</div>

{% endblock %}