{% extends 'base.html' %}
{% block content %}

<div class="main-content">

    <h2 class="text-center">Recently Sold</h2>

    <div class="image-grid">
        {% for item in items %}
            <a href="{% url 'artwork' item.id %}" class="card-link">
                <div class="card">
                    <div class="card-image-wrapper">
                        {% if item.thumbnail_image %}
                            <img class="cars-image" src="{{ item.thumbnail_image.url }}" alt="{{ item.title }}">
                        {% else %}
                            <img src="img.jpg" alt="Thumbnail for {{ item.title }} unavailable">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">{{ item.title }}</h3>
                        <p>{{ item.artist_name }}</p>
                        <p class="sold-tag">Sold for ${{ item.current_bid }}</p>
                    </div>
                </div>
            </a>
        {% empty %}
            <p>No sold artwork found.</p>
        {% endfor %}
    </div>

</div>

{% endblock %}