{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="main-content">

    <h2 class="text-center">{% trans "Recently Sold" %}</h2>

    <div class="image-grid">
        {% for item in items %}
            <a href="{% url 'artwork' item.id %}" class="card-link">
                <div class="card">
                    <div class="card-image-wrapper">
                        {% if item.thumbnail_image %}
                            <img class="cars-image" src="{{ item.thumbnail_image.url }}" alt="{{ item.title }}">
                        {% else %}
                            <img src="img.jpg" alt="{{ item.title }}">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">{{ item.title }}</h3>
                        <p>{{ item.artist_name }}</p>
                        <p class="sold-tag">{% blocktrans with bid=item.current_bid %}Sold for ${{ bid }}{% endblocktrans %}</p>
                    </div>
                </div>
            </a>
        {% empty %}
            <p>{% trans "No sold artwork found." %}</p>
        {% endfor %}
    </div>

</div>

{% endblock %}