{% extends 'base.html' %}

{% block content %}

<div class="main-content">


        </div>

        <div class="image-grid">

            {% for item in items %}
                <a href="{% url 'artwork' item.id %}">
                    <div class="card">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.artist_name }}</p>
                        <p class="sold-tag">SOLD</p>
                    </div>
                </a>
            {% empty %}
                <p>No sold artwork found.</p>
            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}