{% extends 'users/../base.html' %}

{% block content %}

<div class="profile-container">

    <div class="profile-header">

        <img src="{{ user.profile.image }}" class="profile-big">

        <div class="profile-info">
            <h2>{{ user.username }}</h2>

            <p class="seller-type">{{ user.profile.seller_type }}</p>

            <p>{{ user.profile.bio|default:"no bio yet" }}</p>

        </div>
    </div>

    <h2 class="section-title">My Art</h2>

    {% if art %}
    <div class="bid-grid">
        {% for item in art %}
        <div class="bid-card">
            <img src="{{ item.image.url }}">

            <div class="bid-info">
                <h4>{{ item.title }}</h4>
                <p class="price-tag">${{ item.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No art listed yet</p>
    {% endif %}

</div>

{% endblock %}