{% extends 'users/../base.html' %}

{% block content %}

<div class="profile-container">

    <div class="profile-header">
        <img src="{{ seller.profile.profile_image }}" class="profile-big">

        <div class="profile-info">
            <h2>{{ seller.username }}</h2>
            <p class="seller-type">{{ seller.profile.seller_type }}</p>
            <p>{{ seller.profile.bio|default:"no bio yet" }}</p>
        </div>
    </div>

    <h2 class="section-title">My Art</h2>

    {% if art %}
    <div class="image-grid">

        {% for item in art %}
            <a href="{% url 'artwork' item.id %}">

                {% with img=item.images.first %}
                    {% if img and item.thumbnail_image%}
                        <img src="{{ item.thumbnail_image.url }}" alt="{{ item.title }}">
                    {% endif %}
                {% endwith %}

                <p>{{ item.title }}</p>
            </a>
        {% endfor %}

    </div>
    {% else %}
        <p>No art listed yet</p>
    {% endif %}
</div>

{% endblock %}